* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

body > * {
  padding: 2em;
}

header {
  position: relative;

  min-height: 480px;

  text-align: center;
  color: white;

  background: #6c00b5; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #6c00b5 0%, #4d008c 40%, #34004f 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6c00b5), color-stop(40%,#4d008c), color-stop(100%,#34004f)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #6c00b5 0%,#4d008c 40%,#34004f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #6c00b5 0%,#4d008c 40%,#34004f 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #6c00b5 0%,#4d008c 40%,#34004f 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #6c00b5 0%,#4d008c 40%,#34004f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c00b5', endColorstr='#34004f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.introduction {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;

  transform: translateX(-50%) translatey(-50%);
  -webkit-transform: translateX(-50%) translatey(-50%);
}

@media only screen and (max-width: 320px) {
  .introduction {
    top: 57%;
  }
}

.introduction h2 {
  font-size: 2.5em;
}

h1 img {
  width: 200px;
  margin: 0 auto;
}

#arrow-down {
  position: absolute;
  bottom: 2em;
  left: 50%;
  margin-left: -2em;

  width: 4em;
  height: 4em;
  fill: white;
}


.divide {
  position: relative;
  height: 200px;
  background: url('/img/1.jpg') no-repeat fixed;
  background-size: cover;
}

.divide.two {
  /*background-image: url('/img/2.jpg');*/
  background: #eee;
}

.divide.three {
  /*background-image: url('/img/3.jpg');*/
  background: #eee;
}

.divide.four {
  /*background-image: url('/img/3.jpg');*/
  background: none;
}


section {
  position: relative;
}


#products {
}

#products .item {
  width: 256px;
  margin-right: 1.5em;
  cursor: default;
}

#products .item .label {
  margin-top: -3em;
}

#products button {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

#where-am-i {
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.modal.contact .segment {
  margin-top: 0;
}

@media only screen and (max-width: 580px) {
  .modal.contact .icon {
    top: 1rem;
  }

  .modal.contact .header {
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
    font-size: 0.95rem;
  }

  .modal.contact .content,
  .modal.contact .actions {
    padding-left: 0.5rem;
  }
}

@media only screen and (max-width: 345px) {
  .modal.contact .icon {
    top: auto;
    bottom: 1.5rem;
  }
}